{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Профиль студента</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-5">

<div class="card shadow-sm p-4">

    <h2 class="mb-4 text-center">
        {{ student.first_name }} {{ student.last_name }}
    </h2>

    <div class="text-center mb-3">

        {% if student.photo %}
            <img src="{{ student.photo.url }}" width="200" class="rounded">
        {% else %}
            <img src="{% static 'images/default.png' %}" width="200" class="rounded">
        {% endif %}

    </div>

    <hr>

    <p><strong>Имя:</strong> {{ student.first_name }}</p>

    <p><strong>Фамилия:</strong> {{ student.last_name }}</p>

    <p><strong>Возраст:</strong> {{ student.age }}</p>

    <p><strong>Группа:</strong> {{ student.group.name }}</p>

    <hr>

    <p><strong>Кружки:</strong></p>

    <ul>
        {% for club in student.clubs.all %}
            <li>{{ club.name }}</li>
        {% empty %}
            <li>Нет кружков</li>
        {% endfor %}
    </ul>

    <a href="{% url 'student_list' %}" class="btn btn-secondary mt-3">
        Назад
    </a>

    <a href="{% url 'edit_student' student.id %}" class="btn btn-warning mt-3">
        Редактировать
    </a>

</div>

</body>
</html>